<link rel='stylesheet' href='/stylesheets/balance.css' />
<main>
        <div class="balance">
            <h3>¿Qué significa balancear tu alimentación?</h3>
            <p>La alimentación variada y balanceada, se refiere al consumo de alimentos en cantidades adecuadas, de tal manera que garanticemos el aporte de nutrientes que nuestro cuerpo necesita. La variedad evita que comamos todos los días lo mismo y podemos
                lograrla combinando en cada comida del día, alimentos de los tres grupos básicos (carbohídratos,proteínas y grasas).</p>
                {{!-- <img src="images/balance/consumo.jpg"> --}}
         </div>
        <h3>Carbohídratos</h3>
        <div class="carb">
            <img src="images/balance/carbos.jpg" alt="carbohídratos">
        </div>
        <p class="definicion">Los carbohidratos proporcionan el combustible para el sistema nervioso central y la energía para los músculos.También impiden que la proteína sea utilizada como fuente de energía y permiten el metabolismo de las grasas.Los carbohidratos también
            llamados hidratos de carbono son los azúcares, almidones y fibras que se encuentran en una gran variedad de alimentos como frutas, granos, verduras y productos lácteos.Se llaman hidratos de carbono, ya que a nivel químico contienen carbono,
            hidrógeno y oxígeno.</p>
        <div class="carb">
            <h3>Proteínas</h3>
            <img src="images/balance/proteina.jpg" alt="carbohídratos">
        </div>
        <p class="definicion" >Los carbohidratos proporcionan el combustible para el sistema nervioso central y la energía para los músculos.También impiden que la proteína sea utilizada como fuente de energía y permiten el metabolismo de las grasas.Los carbohidratos también
            llamados hidratos de carbono son los azúcares, almidones y fibras que se encuentran en una gran variedad de alimentos como frutas, granos, verduras y productos lácteos.Se llaman hidratos de carbono, ya que a nivel químico contienen carbono,
            hidrógeno y oxígeno.</p>
        <div class="carb">
            <h3>Grasas</h3>
            <img src="images/balance/grasas.jpg" alt="carbohídratos">
        </div>
        <p class="definicion">Las grasas están compuestas por moléculas de triglicéridos, a su vez formados por los ácidos grasos, que se clasifican en función de la presencia de dobles enlaces en su molécula. En este sentido, existen esencialmente tres tipos de grasas, las
            saturadas, las insaturadas y las grasas trans.La cantidad de grasas saturadas que contengan los productos es determinante a la hora de diferenciar si se trata de un alimento saludable o no, ya que mientras la leche entera contiene alrededor
            de un 60 por ciento de grasas saturadas, el porcentaje en la carne de pollo, el pescado o la yema de huevo está en torno al 30 por ciento.</p>
    </main>
   