  <link rel='stylesheet' href='/stylesheets/estadisticas.css' />

  <main>
        <div>
            <div class="datos">
                {{!-- <img src="images/estadisticas/inactividad.jpg" class="izquierda"> --}}
                <h3>Datos y Cifras</h3>
                <div>
                    <ul>
                        <li>Desde 1975, la obesidad se ha casi triplicado en todo el mundo.</li>
                        <li>En 2016, más de 1900 millones de adultos de 18 o más años tenían sobrepeso, de los cuales, más de 650 millones eran obesos.</li>
                        <li>En 2016, el 39% de las personas adultas de 18 o más años tenían sobrepeso, y el 13% eran obesas</li>
                        <li>La mayoría de la población mundial vive en países donde el sobrepeso y la obesidad se cobran más vidas de personas que la insuficiencia ponderal</li>
                        <li>En 2016, 41 millones de niños menores de cinco años tenían sobrepeso o eran obesos.</li>
                        <li>En 2016 había más de 340 millones de niños y adolescentes (de 5 a 19 años) con sobrepeso u obesidad</li>
                        <li>La obesidad puede prevenirse.</li>
                    </ul>
                </div>
                <p>Fuente: OMS</p>
                <img src="images/estadisticas/plus.jpg">
            </div>
            <div>
                <h3>¿Qué son el sobrepeso y la obesidad?</h3>
                <p>El sobrepeso y la obesidad se definen como una acumulación anormal o excesiva de grasa que puede ser perjudicial para la salud.</p>
                <p>El índice de masa corporal (IMC) es un indicador simple de la relación entre el peso y la talla que se utiliza frecuentemente para identificar el sobrepeso y la obesidad en los adultos. Se calcula dividiendo el peso de una persona en kilos
                    por el cuadrado de su talla en metros (kg/m2).</p>
                <img src="images/estadisticas/imc.jpg" class="imc">
                <ul>
                    <li>En 2016, más de 1900 millones de adultos de 18 o más años tenían sobrepeso, de los cuales, más de 650 millones eran obesos.</li>
                    <li>En 2016, el 39% de los adultos de 18 o más años (un 39% de los hombres y un 40% de las mujeres) tenían sobrepeso</li>
                    <li>En general, en 2016 alrededor del 13% de la población adulta mundial (un 11% de los hombres y un 15% de las mujeres) eran obesos.</li>
                    <li>Entre 1975 y 2016, la prevalencia mundial de la obesidad se ha casi triplicado</li>
                </ul>
            </div>
        </div>
    </main>