<link rel='stylesheet' href='/stylesheets/habitos.css' />
<link rel="stylesheet" href="javascripts/fancybox/jquery.fancybox.css">
 <main>
        <div class="galeria">
            <div class="foto">
             <a data-fancybox="gallery" href="/images/habitos/balance.jpg"><img src="/images/habitos/balance.jpg" alt="hábitos"></a>
            </div>
            <div class="foto">
             <a data-fancybox="gallery" href="/images/habitos/carl-barcelo-nqUHQkuVj3c-unsplash.jpg"><img src="/images/habitos/carl-barcelo-nqUHQkuVj3c-unsplash.jpg" alt="hábitos"></a>
            </div>
            <div class="foto">
            <a data-fancybox="gallery" href="/images/habitos/cdc-jjrXvzbqC5E-unsplash.jpg"><img src="/images/habitos/cdc-jjrXvzbqC5E-unsplash.jpg" alt="hábitos"></a>
            </div>
            <div class="foto">
            <a data-fancybox="gallery" href="/images/habitos/eiliv-sonas-aceron-ZuIDLSz3XLg-unsplash.jpg"><img src="/images/habitos/eiliv-sonas-aceron-ZuIDLSz3XLg-unsplash.jpg" alt="hábitos"></a>
            </div>
            <div class="foto">
            <a data-fancybox="gallery" href="/images/images/habitos/friends.jpg"><img src="/images/habitos/friends.jpg" alt="hábitos"></a>
            </div>
            <div class="foto">
            <a data-fancybox="gallery" href="/images/images/habitos/fumar.jpg"><img src="/images/habitos/fumar.jpg" alt="hábitos"></a>
            </div>
            <div class="foto">
            <a data-fancybox="gallery" href="/images/images/habitos/polucion.jpg"><img src="/images/habitos/polucion.jpg" alt="hábitos"></a>
            </div>
        </div>
        <h3>Hábitos de vida saludable</h3>
        <p>La Organización Mundial de la Salud (OMS) define la salud como “un estado de completo bienestar físico, mental y social”, lo que supone que este concepto va más allá de la existencia o no de una u otra enfermedad. En consecuencia, más que de una
            vida sana hay que hablar de un estilo de vida saludable del que forman parte la alimentación, el ejercicio físico, la prevención de la salud, el trabajo, la relación con el medio ambiente y la actividad social.</p>
        <p>Desde esta perspectiva se puede determinar que los hábitos necesarios para llevar una vida saludable son los siguientes:</p>
        <h3 >Dieta equilibrada</h3>
        <p>Una alimentación saludable se rige por incluir todos los alimentos contemplados en la pirámide nutricional, pero en las proporciones adecuadas y en la cantidad suficiente (no más) para mantener las necesidades nutricionales del organismo en función
            del consumo energético que éste realiza con la actividad diaria. El valor energético diario de la dieta debe ser de 30-40 kilocalorías por hilo de peso. Los hidratos de carbono deben ocupar un 50-55% de los nutrientes, con no más de un 10%
            de azúcares simples. Las grasas han de ser un 30% del valor energético total, repartiéndose del siguiente modo: un 15-20% de grasas monoinsaturadas, un 5% de poliinsaturadas y no más de un 7-8% de saturadas. Las proteínas consumidas no deben
            superar el 10% de la dieta. Finalmente, se debe aportar al organismo unos 20-25 gramos de fibra vegetal.</p>
        <h3 >Hábitos tóxicos</h3>
        <p>El tabaco, el alcohol y las drogas inciden de forma muy negativa sobre la salud. La única tolerancia se refiere exclusivamente al vino o la cerveza, de los que incluso se recomienda el consumo del equivalente a una copa diaria.</p>
        <h3 >Ejercicio físico</h3>
        <p>las recomendaciones generales determinan unos 30 minutos diarios de actividad física, siendo suficiente caminar a paso rápido durante este tiempo. Ello permite quemar las calorías sobrantes y fortalecer músculos y huesos, pero también ayuda a
            controlar la tensión arterial, el colesterol y los niveles de glucosa en sangre, además de contribuir a la eliminación del estrés y ayudar a dormir mejor, adquirir un estado de relajación y evitar cambios de humor, mejorar la autoestima y
            el estado de satisfacción personal. También puede ser un buen medio para desarrollar una saludable actividad social cuando el ejercicio se hace en compañía.</p>
        <h3>Higiene</h3>
        <p>una higiene adecuada evita muchos problemas de salud: desde infecciones a problemas dentales o dermatológicos. El concepto de higiene no sólo se refiere al aseo y limpieza del cuerpo, sino que afecta también al ámbito doméstico</p>
        <h3 >Productos tóxicos</h3>
        <p> son muchos los productos a los que la exposición del organismo, puntual o continuo, puede resultar en un serio riesgo para la salud. La contaminación ambiental de las ciudades está considerado como uno de los factores de riesgo más importantes
            para la salud.</p>
        <h3 >Equilibrio mental</h3>
        <p>no se refiere a la existencia de enfermedades mentales, sino al estado de bienestar emocional y psicológico, necesario para mantener y desarrollar las capacidades cognitivas, las relaciones sociales y el afrontamiento de los retos personales y
            profesionales de la vida diaria. El estrés, el cansancio, la irascibilidad, la ansiedad son, entre otros, algunos de los signos que indican que el estado mental no es del todo saludable.</p>
        <h3 >Actividad social</h3>
        <p>las relaciones sociales son un aspecto fundamental para la salud del ser humano y, en consecuencia, para un envejecimiento saludable. El aislamiento social puede llevar a un deterioro gradual e irreversible de las capacidades físicas y mentales,
            incluso a la incapacidad física y la demencia.</p>
    </main>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascripts/fancibox/jquery.fancybox.min.js"></script>