   <main>
        <div class="oms">
            <h3>Salud</h3>
            <p>¿Qué es la salud?</p>
            <p>La Organización Mundial de la Salud (OMS) define la salud como “un estado de completo bienestar físico, mental y social”, lo que supone que este concepto va más allá de la existencia o no de una u otra enfermedad. En consecuencia, más que
                de una vida sana hay que hablar de un estilo de vida saludable del que forman parte la alimentación, el ejercicio físico, la prevención de la salud, el trabajo, la relación con el medio ambiente y la actividad social.</p>
        </div>
        <div class="homeimg">
            <p style="text-align: center;"> <img src="images/estilo de vida/111.jpg" alt="plenitud"></p>
        </div>
        <div class="vida">
            <h3>Estilo de vida saludable</h3>

            <p><img src="images/estilo de vida/vida.jpg" class="izquierda">Entendemos por estilo de vida saludable aquellos hábitos de nuestra vida diaria que nos ayudan a mantenernos más sanos y con menos limitaciones funcionales. Para llevar una vida más
                sana nos debemos centrar, principalmente, en dos aspectos: nuestra dieta y el ejercicio físico.</p>
            <p>Los estilos de vida están relacionados con los patrones de consumo del individuo en su alimentación, de tabaco, así como con el desarrollo o no de actividad física, los riesgos del ocio en especial el consumo de alcohol, drogas y otras actividades
                relacionadas y el riesgo ocupacional. Los cuales a su vez son considerados como factores de riesgo o de protección, dependiendo del comportamiento, de enfermedades transmisibles como de las no transmisibles (Diabetes, Enfermedades Cardiovasculares,
                Cáncer, entre otras).</p>
            <img src="images/estilo de vida/sueño.jpg">
        </div>
    </main>
