<link rel='stylesheet' href='/stylesheets/mitos.css' />
<main>
     {{#each novedades}}
    <div class="novedades">
        <h3>{{ titulo }}</h3>
        <h4>{{ subtitulo }}</h4>
        <p>{{ cuerpo }}</p>
        <hr>
    </div>
    {{/each}}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>